
body{
    background-color: darkgrey;
}
.parent{
    background-color: green;
    width: 400px;
    height: 250px;
    margin:100px auto 0px auto;
    position: relative;
}

.child{
    background-color: red;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 120px;
    top: 50px;
}

.hatol{
    background-color: rgb(71, 57, 30);
    height: 700px;
    width: 10px;
    border-radius: 4px;
    position: absolute;
    top: 0px;
    left: -25px;
}

.roshi1{
    background-color: darkgrey;
    width: 15px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    top: 60px;
    left: -17px;
    border: 2px solid rgb(71, 57, 30);
    border-right-color: green;
}

.roshi2{
    background-color: darkgrey;
    width: 15px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 60px;
    left: -17px;
    border: 2px solid rgb(71, 57, 30);
    border-right-color: green;
}

.end1{
    background-color: gray;
    width: 130px;
    height: 25px;
    position: absolute;
    left: -80px;
    bottom: -450px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}